# Strings
Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

**This idea of a sequence is an important one in Python and we will touch upon it later on in the future.**

## Creating a string
To create a string in Python, all you need is to use either single quotes or double quotes.

In [3]:
# single word
'Henlo'

'Henlo'

In [4]:
# Entire Phrase
'Henlo, its me'

'Henlo, its me'

The statement above is missing an apostrophe.  Lets fix that

In [5]:
'Henlo, it's me

SyntaxError: invalid syntax (<ipython-input-5-04de2469a7af>, line 1)

**WHAT HAPPENED?**
The reason for the error above is because the single quote in it's stopped the string.  You can use combinations of double and single quotes to get the complete statement or use escapes but the former is cleaner

In [6]:
"Henlo, it's me"

"Henlo, it's me"

In [7]:
'Henlo, it\'s me'

"Henlo, it's me"

## Printing a String
Using Jupyter notebooks, with just a string in the cell will automatically output strings but the correct way to display string in your output is by using the print function

In [8]:
print("Henlo, it's me")

Henlo, it's me

More examples

In [9]:
print("Hello World 1")
print("Hello World 2")
print("Use \\n to print a new line")
print("\n")
print("Henlo,\nIt's me!\nDupree!")

Hello World 1
Hello World 2
Use \n to print a new line


Henlo,
It's me!
Dupree!

## String Basics
We can also use a function called len() to check the length of a string

In [10]:
len("Hello World")

11

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence

In Python, we use brackets [] after an object to call its index.  We should nalso note that Python uses zero base indexing

In [11]:
# Assign s as a string
s = 'Hello World'

In [12]:
s

'Hello World'

In [13]:
# print the object
print(s)

Hello World

In [14]:
# Show first element
s[0]

'H'

In [15]:
s[1]

'e'

In [16]:
s[2]

'l'

We can use a ":" to perform slicing which grabs everything up to a designated point

In [17]:
# Grab everything past the first term all the way to the lenght of s which is len(s)
s[1:]

'ello World'

In [18]:
# Note that there is no change to s
s

'Hello World'

In [19]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [20]:
# Everything
s[:]

'Hello World'

Lets be negative with indexing

In [21]:
# Last letter (one index behind 0, so it loops back around)
s[-1]

'd'

In [22]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements.

In [23]:
# Grab everything but go in steps size of 1
s[::1]

'Hello World'

In [24]:
# Grab everything but go in steps size of 2
s[::2]

'HloWrd'

In [25]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties

One key property of strings is that they are immutable.  This means that once a string is created, the elements within the string can not be changed or replaced

In [26]:
s

'Hello World'

In [27]:
# Let's try to change the "H" into a "x"
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [28]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [29]:
# We can reassign s completely though
s = s + ' concatenate me!'

In [30]:
print(s)

Hello World concatenate me!

Need repetition, then use multiplication

In [31]:
letter = 'z'

In [32]:
letter*10

'zzzzzzzzzz'

# Basic Built-in string methods
A string is an object, thus it has built-in methods.  These methods are functions inside the objecct that can perform actions or commands on the object

We call methods with a period and then the method name.  Methods are in the form

object.method(parameters)

In [33]:
my_name = "dAnIeL vAuGhN"

In [34]:
my_name

'dAnIeL vAuGhN'

In [36]:
# Upper case a string
my_name.upper()

'DANIEL VAUGHN'

In [39]:
# check
my_name

'dAnIeL vAuGhN'

In [40]:
# Lower case a string
my_name.lower()

'daniel vaughn'

In [41]:
# check
my_name

'dAnIeL vAuGhN'

In [44]:
# Proper case
my_name.title()

'Daniel Vaughn'

In [46]:
# Be careful.  Title isn't perfect
my_name="lester mccann"
my_name.title()

'Lester Mccann'

In [47]:
# Split a string by blank spaces (this is the default
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [56]:
# Split by a specific element
s.split('e')

['abababbaccaddababa']

In [60]:
data = "John is 23.\nMike is 34.\nJenny is 28.\n"
print(data)
sentences = data.splitlines()
print(sentences)

John is 23.
Mike is 34.
Jenny is 28.

['John is 23.', 'Mike is 34.', 'Jenny is 28.']

In [52]:
s = "abababbaccaddababa"

In [54]:
# Counting
number_of_aba = s.count("aba")
print(number_of_aba)

2

In [ ]:
# Finding
index_of_acca = s.find("acca")
print(index_of_acca)

In [55]:
# Stripping
user_email = " daniel.vaughn@usaa.com "
user_email = user_email.strip()
print(user_email)

daniel.vaughn@usaa.com

## Print Formatting
We can use the .format() method to add formatted objects to printed string statements.

In [49]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'