# Sets, Booleans, and Comparison Operators

## Sets
Sets are an **unorder** collection of **unique** elements. We can construct them by using the set() function

In [1]:
my_set = set()

In [2]:
#We add to sets with the add() method
my_set.add(1)

In [4]:
# SHow
my_set

{1}

Remember the curly brackets for when we get to Dictionaries and their keys

We know that sets can only have unique elements

In [5]:
# Add another element
my_set.add(2)

In [6]:
my_set

{1, 2}

In [7]:
# try to add the same element
my_set.add(2)

In [8]:
my_set

{1, 2}

We can cast a list with multiple repeat elements to a set to get the unique elements.

In [9]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [10]:
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}

## Booleans
Python comes with Booleans (with predefined **True** and **False** displays that are basically just the integers 1 and 0). It also has a placeholder object called None.

In [11]:
# Set object to be a boolean
a = True

In [12]:
a

True

In [13]:
# Be careful.  Booleans are case sensitive in python
a = true

NameError: name 'true' is not defined

We can use None as a placeholder for an object that we don't want to reassign yet:

In [14]:
# None placeholder
b = None

## Comparison Operators

### Equal

In [16]:
2 == 2

True

In [17]:
1 == 0

False

### Not Equal

In [19]:
2 != 1

True

In [20]:
2 != 2

False

### Greater Than

In [22]:
2 > 1

True

In [23]:
2 > 4

False

### Less Than

In [24]:
1 < 2

True

In [25]:
4 < 2

False

### Greater Than or Equal to

In [26]:
2 >= 2

True

In [27]:
2 >= 1

True

### Less than or Equal to

In [28]:
2 <= 2

True

In [29]:
2 <= 4

True

## Chained Comparison Operators
An interesting feature of Python is the ability to chain multiple comparisons to perform a more complex test. You can use these chained comparisons as a shorthand for larger Boolean Expressions.

In [30]:
1 < 2 < 3

True

The logical statement above reads left to right.  First it checks if 1 was less than 2 **and** if 2 was less than the 3.  We could have written this using an **and** statement

In [31]:
1 < 2 and 2 < 3

True

In [32]:
1 < 3 > 2

True

The above checks if 3 is larger than both the other numbers, so you could use **and** to rewrite it as:

In [33]:
1 < 3 and 3 > 2

True

Its important to note that Python is checking both instances of the comparisons. We can also use **or** to write comparisons in Python.

In [34]:
1==2 or 2<3

True

In [1]:
1==1 or 100==1

True

## IN
**In** allows you to check if something is in a object

In [2]:
1 in [1, 2, 3, 4, 5]

True

In [3]:
8 in [1, 2, 3, 4, 5]

False